doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/style.css')
  title Mensaje de contacto - copia

p(style=`font-size: 1rem; color: black;`) Nombre: #{name}
p(style=`font-size: 1rem; color: black;`) Telefono: #{phone}
p(style=`font-size: 1rem; color: black;`) Mensaje: #{message}

h6 Nos comunicaremos con usted a la brevedad.
